prefer-frozen-lockfile=false
engine-strict=false
use-pnpmfile=true
pnpmfile=pnpmfile.cjs
puppeteer_skip_chromium_download=true
PUPPETEER_SKIP_DOWNLOAD=true
enable-pre-post-scripts=true
side-effects-cache=false
onlyBuiltDependencies:
  - "@prisma/client"
  - "prisma"
  - "@prisma/engines"
  - "esbuild"
  - "sharp"
